/* Materialize Breakpoints 
    These are the same values used by the Materialize framework's grid */
$matSmBreakpoint: 600px;
$matMeBreakpoint: 992px;
$matLaBreakpoint: 1200px;
/* /Materialize Breakpoints */

/* Colors */
/* Theme Colors */
$themeDark: #545454;
$themeFontWhite: #fdfdfd;
$themeDarkerOverlay: rgba(51, 51, 51, 0.08);
$themeCyan: #34b5a6;
/* /Theme Colors */

$validationRed: #f44336;
$messageSuccessColor: #beffbe;
$hpRed: #c6302c;
$xpGold: #f5c116;
/* /Colors */

/* Structural */
$defaultMargin: 20px; // Used to give spacing between elements
/* /Structural */