/* Materialize Breakpoints 
    These are the same values used by the Materialize framework's grid */
$matSmBreakpoint: 600px;
$matMeBreakpoint: 992px;
$matLaBreakpoint: 1200px;
/* /Materialize Breakpoints */