/* Default Materialize theme styles */

/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
 
@import "helpers/mixins.scss";
@import "helpers/variables.scss";
@import "helpers/helper-classes.scss";

@import "components/structure.scss";
@import "components/index.scss";
@import "components/accounts.scss";

.icon-block {
    padding: 0 15px;
  
    .material-icons {
        font-size: inherit;
        }
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 auto;
}