/* Default Materialize theme styles */

/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
 
@import "helpers/mixins.scss";
@import "helpers/variables.scss";
@import "helpers/helper-classes.scss";

.icon-block {
    padding: 0 15px;
  
    .material-icons {
        font-size: inherit;
        }
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 auto;
}

.nav-wrapper {
    img {
        max-width: 50px;
        position: absolute;
        
        /* Incrementally adjust the logo image based on the layout of the page, which depends on the viewport width 
            The Materialize nav uses max-width for layout changes, so that system is mostly copied here by using max-width media queries */
        @include mqMinWidth($matLaBreakpoint + 1px) { // + 1px to ensure this media query doesn't overlap with the one below it
            left: 127px;
            top: 7px;
        }
        
        @include mqMaxWidth($matLaBreakpoint) {
            left: 123px;
            top: 7px;
        }
        
        @include mqMaxWidth($matMeBreakpoint) {
            left: 87px;
            top: 7px;
        }
        
        @include mqMaxWidth($matSmBreakpoint) {
            left: 87px;
            top: 3px;
        }
    }
    
}