/* Default Materialize theme styles */
/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
/* Media Queries */
/* /Media Queries */
/* Materialize Breakpoints 
    These are the same values used by the Materialize framework's grid */
/* /Materialize Breakpoints */
/* Colors */
/* /Colors */
/*

These classes assist in accomplishing various changes to elements or improving accessibility

*/
/* Materialize does not include an sr-only class (unlike Bootstrap) so one was added here */
@import url("https://fonts.googleapis.com/css?family=Arimo:400,700");
.sr-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden; }

/* Font Classes
    Add a font family to an element */
.arimo-font {
  font-family: 'Arimo', sans-serif; }

/* /Font Classes */
/* Color Classes
    Used to quickly change an element's background or font color */
.theme-dark {
  background-color: #545454; }

.theme-font-white {
  color: #fdfdfd; }

.theme-cyan {
  background-color: #34b5a6; }

/* /Color Classes */
/*

These styles relate to elements found across multiple pages

*/
.nav-wrapper #logo-container {
  margin-left: 20px; }
  .nav-wrapper #logo-container img {
    max-width: 50px;
    position: absolute;
    /* Incrementally adjust the logo image based on the layout of the page, which depends on the viewport width 
        The Materialize nav uses max-width for layout changes, so that system is MOSTLY copied here by using max-width media queries */
    /* This mixin used for media queries, using responsive design principles of mobile first */
    /* Similiar to above mixin. In some cases functionality is easier to implement with max width 
        This is the case when following Materialize's system, since that system uses max-width in some cases */
    /* Similiar to above mixin. In some cases functionality is easier to implement with max width 
        This is the case when following Materialize's system, since that system uses max-width in some cases */
    /* Similiar to above mixin. In some cases functionality is easier to implement with max width 
        This is the case when following Materialize's system, since that system uses max-width in some cases */ }
    @media (min-width: 1201px) {
      .nav-wrapper #logo-container img {
        left: 147px;
        top: 6px; } }
    @media (max-width: 1200px) {
      .nav-wrapper #logo-container img {
        left: 142px;
        top: 7px; } }
    @media (max-width: 992px) {
      .nav-wrapper #logo-container img {
        left: 95px;
        top: 7px; } }
    @media (max-width: 600px) {
      .nav-wrapper #logo-container img {
        left: 95px;
        top: 2px; } }

.django-messages {
  margin: 0 0.35rem 0; }

h1 {
  font-size: 3.5rem; }

/* Footer */
.page-footer {
  padding-top: 0; }
  .page-footer .footer-copyright .row {
    margin: 0; }
    .page-footer .footer-copyright .row a {
      color: #fdfdfd; }

/* Index Fade In Effect */
.index-fadein-effect {
  display: none; }

/* /Index Fade In Effect */
/* /Footer */
.index-main h1 {
  /* This is the default Materialize h1 size, it is reapplied here so that the h1 declarations in structure.scss don't overwrite it */
  font-size: 4.2rem; }
  .index-main h1 img {
    position: relative;
    max-width: 85px;
    top: 21px;
    right: 12px; }
.index-main h2 {
  font-size: 2.5rem; }
.index-main a {
  color: #fdfdfd;
  text-decoration: underline; }

/*

Styles common to the elements found within the accounts app

*/
.user-form {
  /* Hide the hints that display on the user forms for correct password and username input
      This could probably be done more efficiently in the backend by modifying Django's default form
      However, this is far easier and can be done with very little code
      If the user fails the validation the validation hints still display as normal */ }
  .user-form #hint_id_password1, .user-form #hint_id_password2, .user-form #hint_id_new_password1, .user-form #hint_id_username {
    display: none; }
  .user-form dd {
    color: #f44336;
    margin: 0; }
  .user-form .form-links {
    margin: 10px 0 0 10px; }
    .user-form .form-links small {
      margin-left: 15px; }

.icon-block {
  padding: 0 15px; }
  .icon-block .material-icons {
    font-size: inherit; }

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column; }

main {
  flex: 1 auto; }

/*# sourceMappingURL=style.css.map */
