{% extends 'base.html' %} 

{% block title %}
  LEVELUP | Donate
{% endblock %}

{% block content %}
  <main class="container center-align">
    <!-- Page Heading -->
    <h1>Donate</h1>
    <!-- /Page Heading -->
  
    <p>LevelUp depends on your donations to keep this service up and running.</p>
  
    <p>A donation of just $5 goes a long way towards making sure we can continue hosting this service.</p>
  
    <p>Donations are easy and secure. To donate, just click the button below.</p>
  
    <!-- Donate Button -->
    <form action="{% url 'charge' %}" method="post" class="def-margin-bottom">
      {% csrf_token %}
  
      <script src="https://checkout.stripe.com/checkout.js" class="stripe-button" data-key="{{ key }}" data-description="Donate" data-amount="500" data-locale="auto"></script>
    </form>
    <!-- /Donate Button -->
    
    <div class="divider"></div>
  
    <section class="donated-users">
      <h2>Special thanks to these LevelUp users who have previously donated:</h2>
  
      <ul>
      {% for user in profile_list %} 
        <li>{{ user.account.username }}</li>
      {% endfor %}
      </ul>
    </section>
  </main>
{% endblock %}