{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}Sign Up{% endblock %}

{% block content %}
    <main class="container">
        <h1 class="center-align">Set New Password</h1>
        
        <form method="POST">
            {% csrf_token %}
            <fieldset>
                <legend>Set New Password</legend>
                {{ form | crispy }}
            </fieldset>
            
            <button type="submit">Reset Password</button>
        </form>
    </main>
{% endblock %}