{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}
    LEVELUP | Forgot Password
{% endblock %}

{% block content %}
    <main class="container">
        <!-- Page Heading -->
        <h1 class="center-align">Forgot Password</h1>
        <!-- /Page Heading -->
        
        <!-- Request Password Reset Form -->
        <form class="user-form" method="POST">
            {% csrf_token %}
            <fieldset>
                <legend>Reset Password</legend>
                {{ form | crispy }}
                <!-- This looks like a stray closing div tag. However, an error appears
                    in the W3C validator without it. It looks like the {{ form | crispy }}
                    injects a <div class="row"> element without a closing div tag,
                    so it looks like it's necessary to add one manually -->
                </div>
            </fieldset>
            
            <div class="form-links">
                <button class="waves-effect waves-light btn theme-cyan" type="submit">Request Password Reset</button>
            </div>
        </form>
        <!-- /Request Password Reset Form -->
    </main>
{% endblock %}