{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}
    LEVELUP | Your Profile
{% endblock %}

{% block content %}
    <main class="container">
        <!-- Page Heading -->
        <h1 class="center-align">Your Profile</h2>
        <!-- /Page Heading -->
    
        <!-- Profile Image, Username and Email -->
        <div class="center-align">
            <img src="{{ user.profile.image.url }}">

            <h2>{{ user.username }}</h2>

            <p>{{ user.email }}</p>
        </div>
        <!-- /Profile Image, Username and Email -->

        <!-- Forms -->
        <form class="user-form" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset>
                <legend>Edit Your Account Profile Details</legend>

                <!-- Render both the account and profile forms
                     but make it look like one form -->
                {{ account_form | crispy }} {{ profile_form | crispy }}
            </fieldset>

            <div class="center-align def-margin-top def-margin-bottom">
                <button class="waves-effect waves-light btn theme-cyan" type="submit">Update</button>
            </div>
        </form>
        <!-- /Forms -->
    </main>
{% endblock %}