{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}
    LEVELUP | Your Profile
{% endblock %}

{% block content %}
    <main class="container">
        <!-- Page Heading -->
         <h1>Your Profile</h2>
         <!-- /Page Heading -->
         
         <div>
             <img src="{{ user.profile.image.url }}">
             
             <h2>{{ user.username }}</h2>
             
             <p>{{ user.email }}</p>
         </div>
         
         <form method="POST" enctype="multipart/form-data">
              {% csrf_token %}
              <fieldset>
                <legend>Edit Your Account Profile Details</legend>
                
                <!-- Render both the account and profile forms
                     but make it look like one form -->
                {{ account_form | crispy }}
                
                {{ profile_form | crispy }}
              </fieldset>
              
              <button type="submit">Update</button>
         </form>
    </main>
{% endblock %}