{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}
    LEVELUP | Sign Up
{% endblock %}

{% block content %}
    <main class="container">
        <!-- Page Heading -->
        <h1 class="center-align">Sign Up</h1>
        <!-- /Page Heading -->
        
        <!-- Sign Up Form -->
        <form class="user-form" method="POST">
            {% csrf_token %}
            
            <fieldset>
                <legend>Join Today</legend>
                
                {{ form | crispy }}
            </fieldset>
            
            <div class="form-links">
                <button class="waves-effect waves-light btn theme-cyan" type="submit">Sign up</button>
            
                <small>Already have an account? <a href="{% url 'login' %}">Sign In</a></small>       
            </div>
        </form>
        <!-- /Sign Up Form -->
    </main>
{% endblock %}