{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}
    LEVELUP | Sign Up
{% endblock %}

{% block content %}
    <main class="container">
        <h2>Sign up</h2>
        
        <form method="POST">
            {% csrf_token %}
            <fieldset>
                <legend>Join Today</legend>
                
                {{ form | crispy }}
            </fieldset>
            
            <button type="submit">Sign up</button>
        </form>
        
        <small>Already have an account? <a href="{% url 'login' %}">Sign In</a></small>
    </main>
{% endblock %}