{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block content %}
    <main class="container">
        <h1 class="center-align">Add a Task</h1>
        
        <p>Use this form to add a new task to your daily to-do list</p>
        
        <p>Give your task a short and snappy name, some (optional) notes, and assign it a difficulty.</p>
        
        <p class="center-align"><strong>How does difficulty work?</strong></p>
        
        <p>Level Up features 4 ranks of difficulty; Easy, Medium, Hard, and Ambitious. The harder a task, the more experience you gain when you complete it, but the more hitpoints you'll lose if you fail to complete it at the end of the day.</p>
        
        <p><strong>REMEMBER:</strong> Make sure the task you add is a task you want to do <strong>every day.</strong> The ability to add tasks that can be done on set days, or one-off tasks, will be included in a future version of Level Up.</p>
        
        <form method="POST">
            {% csrf_token %}
            
            {{ form | crispy }}
            
            <div class="row center-align task-page-btns">
                <!-- Save Button -->
                <div class="col s12 m6">
                    <button class="waves-effect waves-light btn theme-cyan" type="submit">Save</button>  
                </div>
                <!-- /Save Button -->
                
                <!-- Cancel Button -->
                <div class="col s12 m6">
                    <a class="waves-effect waves-light btn red" href="{% url 'tasks:get_tasks' %}">Cancel</a>
                </div>
                <!-- /Cancel Button -->
            </div>
        </form>
    </main>

{% endblock %}