{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block content %}
    <main class="container">
        <h1 class="center-align">Add a Task</h1>
        
        <form method="POST">
            {% csrf_token %}
            
            {{ form | crispy }}
            
            <div class="center-align task-page-btns">
                <button class="waves-effect waves-light btn theme-cyan" type="submit">Save</button>   
                <a class="waves-effect waves-light btn red" href="{% url 'tasks:get_tasks' %}">Cancel</a>
            </div>
        </form>
    </main>

{% endblock %}