{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block content %}
    <main class="container">
        <!-- Page Heading -->
        <h1 class="center-align">Edit Task</h1>
        <!-- /Page Heading -->
        
        <!-- Edit Task Form -->
        <form method="POST">
            {% csrf_token %}
            
            {{ form | crispy }}
            
            <div class="center-align task-page-btns">
                <!-- Edit Button -->
                <button class="waves-effect waves-light btn theme-cyan" type="submit">Edit Task</button>   
                <!-- /Edit Button -->
                
                <!-- Delete Button -->
                <input type="submit" value="Delete Task" formaction="delete/" class="waves-effect waves-light btn red">
                <!-- /Delete Button -->
            </div>
        </form>
        <!-- /Edit Task Form -->
        
        <!-- Cancel Button -->
        <div class="center-align">
            <a class="waves-effect waves-light btn red task-detail-cancel" href="{% url 'tasks:get_tasks' %}">Cancel</a>
        </div>
        <!-- /Cancel Button -->
    </main>
    
{% endblock %}