{% extends "base.html" %}

{% load static %}

{% block content %}
    <main class="container tasks-main">
        <!-- Heading -->
        <h1 class="center-align">Tasks</h1>
        <!-- /Heading -->
        
        <!-- User Info -->
        <section class="user-info">
            <!-- Username and Hitpoints -->
            <div class="row">
                <div class="col s12 offset-m3 m3 flow-text center-align">
                    {{ request.user.username }}
                </div>
                
                <div class="col s12 m3 flow-text center-align">
                    <i class="material-icons flow-text hp-icon">local_hospital</i>
                    
                    {{ user.profile.hitpoints }}/100hp
                </div>
            </div>
            <!-- /Username and Hitpoints -->
            
            <!-- Level and XP -->
            <div class="row">
                <div class="col s12 offset-m3 m3 flow-text center-align">
                    Level {{ user.profile.level_rank }}
                </div>
                
                <div class="col s12 m3 flow-text center-align">
                    <i class="material-icons flow-text xp-icon">grade</i>
                    
                    XP: {{ user.profile.exp_points}}/{{ user.profile.xp_threshold }}
                </div>
            </div>
            <!-- /Level and XP -->  
            
            <!-- Help Text -->
            <p>This is your task list. You can mark a task as done by clicking the 'Mark Done' button. If you make a mistake, just click the button again and the task will be marked as not done.</p>
            
            <p>At the end of every day (currently midnight GMT), any task you have not done will cause you to lose health. If you run out of health, you lose a level.</p>
            <!-- /Help Text -->
        </section>
        <!-- /User Info -->
        
        <!-- Add a Task Link -->
        <div class="center-align flow-text">
            <a href="{% url 'tasks:create_task' %}">Add a Task</a>     
        </div>
        <!-- /Add a Task Link -->
        
        <p>Current Login: {{ current_login }}</p>
        
        <p>Login saved in database: {{ last_login }}</p>

        <!-- Tasks List
            If the user has tasks, display them -->
        {% if task_list %}
            <ul class="center-align flow-text tasks-ul">
            {% for task in task_list %}
                <li class="row">
                    <div class="col s12 m3">
                        <!-- Task Name 
                            Truncate very long task names, this is to preserve the layout
                            of the page -->
                        {{ task.task_name|truncatechars:41 }}
                        <!-- /Task Name -->              
                    </div>
                    
                    <div class="col s12 m3">
                        <!-- View Detail Link -->
                        <a href="{% url 'tasks:detail' task.id %}">View Detail</a> 
                        <!-- /View Detail Link -->                 
                    </div>
                    
                    <div class="col s6 m3 ">
                        <!-- Done Button -->
                        <form method="POST" action="done/{{ task.id }}/{{ task.task_difficulty }}/">
                            {% csrf_token %}
                        
                            <input type="submit" value="{% if task.done_status %}Mark Undone{% else %}Mark Done{% endif %}" 
                            class="waves-effect waves-light btn theme-cyan">
                        </form>    
                        <!-- /Done Button -->
                    </div>
                    
                    <!-- Done Status Icon -->
                    <div class="col s6 m3">
                        <div class="done-status">
                            {% if task.done_status %}
                                <img src="{% static 'images/task-checkbox.svg' %}" alt="Check">
                            {% else %}
                                <span></span>
                            {% endif %}                              
                        </div>
                    </div>
                    <!-- /Done Status Icon -->
                </li>
            {% endfor %}
            </ul>
            
        <!-- Else, the user has no tasks -->
        {% else %}
            <p class="center-align">You currently have no tasks!.</p>
        {% endif %}
        <!-- /Tasks List -->
    </main>
{% endblock %}