{% extends "base.html" %}

{% block content %}
    <main class="container">
        {{ task.task_name }}
        <br>
        {{ task.task_notes }}
        <br>
        <!-- Human Readable Task Difficulty -->
        {{ task.get_task_difficulty_display }}
        <!-- /Human Readable Task Difficulty -->
        
        <form method="POST">
            {% csrf_token %}
            
            {{ form.as_p }}
            
            <div class="center-align task-page-btns">
                <button class="waves-effect waves-light btn theme-cyan" type="submit">Edit</button>   
                <a class="waves-effect waves-light btn red" href="{% url 'tasks:get_tasks' %}">Cancel</a>
            </div>
        </form>

        <form method="POST" action="delete/">
            {% csrf_token %}
            
            <input type="submit" value="Delete" class="waves-effect waves-light btn red">
        </form> 
        
        <a href="{% url 'tasks:get_tasks' %}">Back to Task List</a>
    </main>
    
{% endblock %}