{% extends "base.html" %}

{% block content %}
    <main class="container">
        <!-- Page Heading -->
        <h1 class="center-align">Edit Task</h1>
        <!-- /Page Heading -->
        
        <!-- Edit Task Form -->
        <form method="POST">
            {% csrf_token %}
            
            {{ form.as_p }}
            
            <div class="center-align task-page-btns">
                <button class="waves-effect waves-light btn theme-cyan" type="submit">Edit</button>   
                <a class="waves-effect waves-light btn red" href="{% url 'tasks:get_tasks' %}">Cancel</a>
            </div>
        </form>
        <!-- /Edit Task Form -->
        
        <!-- Delete Task -->
        <form method="POST" action="delete/">
            {% csrf_token %}
            
            <input type="submit" value="Delete" class="waves-effect waves-light btn red">
        </form> 
        <!-- /Delete Task -->
        
        <!-- Cancel Button -->
        <a href="{% url 'tasks:get_tasks' %}">Back to Task List</a>
        <!-- /Camcel Button -->
    </main>
    
{% endblock %}