/*

These styles relate to the html content found in the tasks app templates

*/

.tasks-main {
    /* Material Icons */
    .material-icons {
        cursor: default; 
        /* Positiom the icons to fit with the text */
        position: relative;
        top: 2px;
        
        /* Match a flow-text breakpoint, adjust the icon so it continues
            to sit well with the text */
        @include mqMinWidth(660px) {
            top: 3px;
        }
    }
    /* /Material Icons */
    
    /* User Info */
    .user-info {
        margin-top: $defaultMargin;
        
        /* Style the hp and xp icons */
        .hp-icon {
            color: $hpRed;
        }
        
        .xp-icon {
            color: $xpGold;
        }
    }
    /* /User Info */
    
    /* Tasks List */
    .tasks-ul {
        li {
            margin-top: $defaultMargin;
            
            /* Target all but the last task 
                Increase the height*/
            &:not(:last-child) {
                padding: 10px;
            }
            
            /* Task Difficulty Image */
            img {
                /* Scale the img size with the viewport */
                @include mqMinWidth($matSmBreakpoint) {
                    width: 55px;
                    height: 55px;
                }
                
                @include mqMinWidth($matMeBreakpoint) {
                    width: 65px;
                    height: 65px;
                }
            }
            /* /Task Difficulty Image */
            
            /* Task Done Button */
            form {
                display: inline-block;
                
                .btn {
                    padding: 0; // Adjust the default Materialize .btn padding
                }
                    
                input {
                    color: white;
                    min-width: 115px;
                    font-size: 12px; // Hard value used here as the integrity of the layout of the page depends on it
                    /* Make sure the clickable area of the input matches the .btn it is wrapped in */
                    width: inherit;
                    height: inherit;
                    /* Make it obvious the input does something */
                    cursor: pointer;
                }
            }
            /* /Task Done Button */
            
            /* Checkbox */
            .done-status {
                border: 2px solid black;
                display: inline-block;
                width: 35px;
                height: 35px;    
                
                img {
                    text-align: center;
                    width: 30px;
                    height: 30px;
                    padding: 2px;
                }
            }
            /* /Checkbox */
        }
    }
    /* /Tasks List */
}

/* Task Detail and Add Task Form */
/* Help Text */
.task-form-help-text {
    margin-bottom: $defaultMargin * 2;
    
    /* Task Difficulty Helper Text Title 
        This is found on the add-task form */
    .difficulty-title {
        font-size: 1.5rem;
    }
    /* /Task Difficulty Helper Text Title */
}
/* /Help Text */

#div_id_task_name {
    margin-bottom: $defaultMargin + 10px; // Space out the form elements better
}

#div_id_task_notes {
    label {
        /* Ensure that when Materialize's form animation for the 
        label kicks in, the label isn't obscured by the widget */
        top: -11px;    
    }
}

#div_id_task_difficulty {
    label {
        top: -22px; // Ensure the label doesn't obscure the text on the dropdown
    }
}

/* Task Detail and Add Task Page Buttons */
.task-page-btns {
    .btn {
        padding: 0;
        width: 140px;
    }

    input {
        color: white;
        cursor: pointer;
        /* Ensure the clickable area of the input matches the width and height of the container */
        width: inherit;
        height: inherit;
    }
    
    /* Target the 'button' divs */
    div {
        margin-top: $defaultMargin * 1.5;
        line-height: 36px;
    }
}
/* /Task Detail and Add Task Page Buttons */
/* /Task Detail and Add Task Form */