/*

These styles relate to elements found across multiple pages

*/

.nav-wrapper {
    #logo-container { // Target the container for the logo text and image
        margin-left: 20px;
            
        img { // Target the logo image
            max-width: 50px;
            position: absolute;
            
            /* Incrementally adjust the logo image based on the layout of the page, which depends on the viewport width 
                The Materialize nav uses max-width for layout changes, so that system is MOSTLY copied here by using max-width media queries */
            @include mqMinWidth($matLaBreakpoint + 1px) { // + 1px to ensure this media query doesn't overlap with the one below it
                left: 147px;
                top: 6px;
            }
            
            @include mqMaxWidth($matLaBreakpoint) {
                left: 142px;
                top: 7px;
            }
            
            @include mqMaxWidth($matMeBreakpoint) {
                left: 95px;
                top: 7px;
            }
            
            @include mqMaxWidth($matSmBreakpoint) {
                left: 95px;
                top: 2px;
            }
        }
    }
}

/* Footer */
.page-footer {
    padding-top: 0; // Reset default Materialize padding
    
    .footer-copyright {
        .row {
            margin: 0; // Overwrite Materialize default margin
            
            a {
                color: $themeFontWhite;
            }
        }
    }
}

.index-fadein-effect {
    display: none;
}
/* /Footer */