/*

These styles relate to content found on tasks.html

*/

.tasks-main {
    /* Material Icons */
    .material-icons {
        cursor: default; 
        /* Positiom the icons to fit with the text */
        position: relative;
        top: 2px;
        
        /* Match a flow-text breakpoint, adjust the icon so it continues
            to sit well with the text */
        @include mqMinWidth(660px) {
            top: 3px;
        }
    }
    /* /Material Icons */
    
    /* User Info */
    .user-info {
        margin-top: $defaultMargin;
        
        /* Style the hp and xp icons */
        .hp-icon {
            color: $hpRed;
        }
        
        .xp-icon {
            color: $xpGold;
        }
    }
    /* /User Info */
    
    /* Tasks List */
    .tasks-ul {
        li {
            margin-top: $defaultMargin;
            
            /* Task Icon
                The task icons require some positioning that
                is different to the other icons on the page */
            .task-icon {
                top: 3px;
                
                @include mqMinWidth(660px) {
                    top: 4px;
                }
            }
            /* /Task Icon */
            
            /* Task Done Button */
            .done-btn-container {
                height: 80px;
                form {
                    display: inline-block;
                        
                    input {
                        color: white;
                    }
                }
            }
            /* /Task Done Button */
            
            /* Checkbox */
            .done-status {
                border: 2px solid black;
                display: inline-block;
                width: 80px;
                height: 80px;    
                
                img {
                    text-align: center;
                    width: 75px;
                    height: 75px;
                    padding: 10px;
                }
            }
            /* /Checkbox */
        }
    }
    /* /Tasks List */
}