/*

These styles relate to the html content found in the tasks app templates

*/

.tasks-main {
    /* Material Icons */
    .material-icons {
        cursor: default; 
        /* Positiom the icons to fit with the text */
        position: relative;
        top: 2px;
        
        /* Match a flow-text breakpoint, adjust the icon so it continues
            to sit well with the text */
        @include mqMinWidth(660px) {
            top: 3px;
        }
    }
    /* /Material Icons */
    
    /* User Info */
    .user-info {
        margin-top: $defaultMargin;
        
        /* Style the hp and xp icons */
        .hp-icon {
            color: $hpRed;
        }
        
        .xp-icon {
            color: $xpGold;
        }
    }
    /* /User Info */
    
    /* Tasks List */
    .tasks-ul {
        li {
            margin-top: $defaultMargin;
            height: 150px;
            
            /* Increase the height of the list items with the viewport width */
            @include mqMinWidth($matSmBreakpoint + 1px) {
                height: 200px;
            }
            
            /* Target all but the last task 
                Add a divider and thicken the height*/
            &:not(:last-child) {
                padding: 10px;
                border-bottom: 1px solid rgba(0,0,0,0.2);
            }
            
            /* Task Icon
                The task icons require some positioning that
                is different to the other icons on the page */
            .task-icon {
                top: 3px;
                
                @include mqMinWidth(660px) {
                    top: 4px;
                }
            }
            /* /Task Icon */
            
            /* Task Done Button */
            form {
                display: inline-block;
                
                .btn {
                    padding: 0; // Adjust the default Materialize .btn padding
                }
                    
                input {
                    color: white;
                    min-width: 115px;
                    font-size: 12px; // Hard value used here as the integrity of the layout of the page depends on it
                    /* Make sure the clickable area of the input matches the .btn it is wrapped in */
                    width: inherit;
                    height: inherit;
                    /* Make it obvious the input does something */
                    cursor: pointer;
                }
            }
            /* /Task Done Button */
            
            /* Checkbox */
            .done-status {
                border: 2px solid black;
                display: inline-block;
                width: 35px;
                height: 35px;    
                
                img {
                    text-align: center;
                    width: 30px;
                    height: 30px;
                    padding: 2px;
                }
            }
            /* /Checkbox */
        }
    }
    /* /Tasks List */
}

/* Task Detail and Add Task Page Buttons */
.task-page-btns {
    /* Target the Add and Edit task button */
    button {
        margin-right: 10px;
    }
    
    /* Target the cancel link */
    a {
        margin-left: 10px;
    }
}
/* /Task Detail and Add Task Page Buttons */