{% extends 'base.html' %}

{% block title %}
    LEVELUP | Get Started 
{% endblock %}

<!--

This template is rendered if the user clicks a 'Help' link.
The user is also directed here if they click the 'Get Started' link on index.html

-->

{% block content %}
    <main class="container about-main">
        <div class="center-align">
            <!-- Page Heading -->
            <h1>Level Up</h1> 
            <!-- /Page Heading -->
        </div>
        
        <article>
            <!-- Sub-Heading -->
            <h2 class="center-align">Using the Science of gaming to help you achieve real life goals</h2>
            <!-- /Sub-Heading -->
            
            <p>The computer gaming industry is huge. Every day, millions of people turn on their devices of choice and proceed to enjoy creating characters, battling monsters, and racing cars.</p>
            
            <p>A type of game that is very popular, and has a long history dating back to the earliest computer games, is the RPG (Role-Playing Game). In this type of game, the player controls a character, and then typically explores a world, completing quests, and gathering items and experience. As the player progresses through the game, their character begins to gain levels and become more powerful, their abilities increase, and the story progresses.</p>
            
            <p>RPG's can become incredibly addictive. The popular MMORPG (Massive Multiplayer Online Roleplaying Game) World Of Warcraft got some very bad press a few years ago, when a Korean couple <a href="https://www.eurogamer.net/articles/news200605wowbaby" target="_blank">neglected their baby daughter</a>, who then died, in favor of playing World Of Warcraft.</p>
            
            <p>RPGs are powerful to the point where they can even override parental instincts in order to get you to engage with them.</p>
            
            <p><strong>So what does this have to do with Level Up?</strong></p>
            
            <p>Good question, thanks for asking. We've already established that RPG-type games are powerful right? Addictive? Well what if you took the addictive nature of these games, extracted the core compoments, and created a productivity tool?</p>
            
            <p>Now before you call me crazy, hear me out. This is how it would work.</p>
            
            <p>Instead of battling virtual monsters, you'd battle your own monsters. You'd gain XP and rewards when you go to the gym, get up at 5am, or finish that project you've been putting off for the past 8 years. You see your progress in the game, but that progress is directly tied to the progress you're making in your own life.</p>
            
            <p><strong>Enter Level Up</strong></p>
            
            <p>Level Up is a task manager on steroids. It doesn't just allow you to keep track of your daily tasks. It gives you rewards when you complete them. As you complete your tasks you gain experience, and as you gain experience your in-game character levels up.</p>
            
            <p>You may be saying, "Well who cares about these virtual points I get from ticking off some tasks in an app?"</p>
            
            <p>That's a good point. But why do people care so much about their experience and level in games like World of Warcraft and League of Legends? The answer to this question isn't entirely clear, and maybe one day psychology will give us a definite answer.</p>
            
            <p>But for now, we know that this stuff has a gravitational pull. So why not let it pull you towards completing your real life goals?</p>
            
            <p class="center-align"><a href="{% url 'sign_up' %}">Create an Account</a> today, and find out if it works for you!</p>
        </article>
    </main>
{% endblock %}