<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    
    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <!-- /STYLESHEETS -->
</head>
<body>
    <a href="{% url 'index' %}">Home</a>
    <p>User currently logged in = <span>{{ request.user.username }}</span></p>
    {% block content %}
    {% endblock %}
    
    {% load static %}
    <!-- SCRIPTS -->
    <!-- jQuery CDN -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <!-- Materialize js -->
    <script src="{% static 'js/materialize.js' %}"></script>
    <!-- /SCRIPTS -->
</body>
</html>