<!DOCTYPE html>
<!-- Load static files for Django -->
{% load static %}
<html lang="en">
<head>
    <!-- Meta Tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--/Meta Tags -->
    
    <title>{% block title %}{% endblock %}</title>
    
    <!-- Stylesheets -->
    <!-- Material Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Materialize CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Custom Stylesheet -->
    <link rel="stylesheet" type="text/css" media="screen,projection" href="{% static 'css/style.css' %}">
    <!-- /Stylesheets -->
</head>
<body>
    <!-- User Dropdown Contents -->
    <ul id="user-dropdown" class="dropdown-content">
        <li><a href="{% url 'profile' %}">Your Profile</a></li>
        <li><a href="{% url 'logout' %}">Logout</a></li>
    </ul>
    <!-- /User Dropdown Contents -->
    
    <!-- Nav -->
    <nav class="theme-dark" role="navigation">
        <div class="nav-wrapper">
            <!-- Brand Logo Text and Image -->
            <div id="logo-container">
                <!-- Brand Logo Text -->
                <a href="{% url 'index' %}" class="brand-logo arimo-font theme-font-white">LEVELUP</a>
                <!-- /Brand Logo Text -->
                
                <!-- Brand Logo Image -->
                <a href="{% url 'index' %}" class="brand-logo">
                    <img src="{% static 'images/levelup-logo.svg' %}" alt="Level Up logo" class="brand-logo">
                </a>
                <!-- /Brand Logo Image -->
            </div>
            <!-- /Brand Logo Text and Image -->
            
            <!-- Main Nav -->
            <ul class="right hide-on-med-and-down">
                <!-- About -->
                <li>
                    <a href="{% url 'get_started' %}">About</a>
                </li>
                <!-- /About -->
                
                <!-- Donate -->
                <li>
                    <a href="{% url 'donate' %}">Donate</a>
                </li>
                <!-- /Donate -->
                
                <!-- Conditional Nav Links 
                    The last 2 links that get displayed depends on whether or not a user is authenticated
                    If a user is authenticated, the links are Tasks and the User Dropdown
                    If no user is authenticated, the links are Login and Create accounts -->
                {% if user.is_authenticated %}
                    <!-- Tasks -->
                    <li>
                        <a href="{% url 'tasks:get_tasks' %}">Tasks</a>
                    </li>
                    <!-- /Tasks -->
                    
                    <!-- User Dropdown 
                        The content for this dropdown can be found in the ul with id of 'user-dropdown', found as the first child element of the body -->
                    <li>
                        <a class="dropdown-trigger" href="#" data-target="user-dropdown">{{ request.user }}<i class="material-icons right">arrow_drop_down</i></a>
                    </li>
                    <!-- /User Dropdown -->
                <!-- Else no user is authenticated -->
                {% else %}
                    <!-- Login -->
                    <li>
                        <a href="{% url 'login' %}">Login</a>
                    </li>
                    <!-- /Login -->
                    
                    <!-- Create Account -->
                    <li>
                        <a href="{% url 'sign_up' %}">Create Account</a>
                    </li>
                    <!-- /Create Account -->
                {% endif %}
                <!-- /Conditional Nav Links -->
            </ul>
            <!-- /Main Nav -->
    
            <!-- Mobile Nav -->
            <ul id="nav-mobile" class="sidenav">
                <!-- About -->
                <li>
                    <a href="{% url 'get_started' %}">About</a>
                </li>
                <!-- /About -->
                
                <!-- Donate -->
                <li>
                    <a href="{% url 'donate' %}">Donate</a>  
                </li>
                <!-- /Donate -->
                
                <!-- Check for user authentication to display the correct links -->
                {% if user.is_authenticated %}
                    <!-- Your Profile -->
                    <li>
                        <a href="{% url 'profile' %}">Your Profile</a>
                    </li>
                    <!-- /Your Profile -->
                    
                    <!-- Logout -->
                    <li>
                        <a href="{% url 'logout' %}">Logout</a>
                    </li>
                    <!-- /Logout -->
                {% else %}
                    <!-- Login -->
                    <li>
                        <a href="{% url 'login' %}">Login</a>
                    </li>
                    <!-- /Login -->
                    
                    <!-- Create Account -->
                    <li>
                        <a href="{% url 'sign_up' %}">Create Account</a>
                    </li>
                    <!-- /Create Account -->
                {% endif %}
            </ul>
            <!-- /Mobile Nav -->
            
            <!-- Mobile Nav Trigger -->
            <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <!-- /Mobile Nav Trigger -->
        </div>
    </nav>
    <!-- /Nav -->
    
    <!-- Django Messages -->
    {% if messages %}
        <ul class="django-messages flow-text center-align">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <!-- /Django Messages -->
    
    {% block content %}
    {% endblock %}
    
    <!-- Page Footer -->
    <footer class="page-footer theme-dark center-align">
        <!-- This div does not strictly just contain copyright info
            However, the styles applied by this Materialize class work almost perfectly for how I want the footer to look -->
        <div class="footer-copyright">
            <div class="container">
                    <ul class="row">
                        <!-- Home -->
                        <li class="col s3">
                            <a href="{% url 'index' %}">Home</a>
                        </li>
                        <!-- /Home -->
                        
                        <!-- About -->                
                        <li class="col s3">
                            <a href="{% url 'get_started' %}">About</a>    
                        </li>
                        <!-- /About -->
                        
                        <!-- Donate -->    
                        <li class="col s3">
                            <a href="{% url 'donate' %}">Donate</a>       
                        </li>
                        <!-- /Donate -->
                        
                        <!-- Stats -->
                        <li class="col s3"><a href="{% url 'stats:get_stats' %}">Levelup Stats</a></li>
                        <!-- /Stats -->
                    </ul>
                    
                    <!-- Copyright Info -->
                    <small>&copy; Level Up <span id="copyright"></span></small>                        
                    <!-- /Copyright Info -->
            </div>
        </div>
    </footer>
    <!-- /Page Footer -->
    
    <!-- Scripts -->
    <!-- jQuery CDN -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <!-- Materialize JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <!-- Patched Materialize JS version 0.100.2 -->
    <!--<script src="{% static 'js/materialize.js' %}"></script>-->
    <!-- Materialize Initialize -->
    <script src="{% static 'js/init.js' %}"></script>
    
    <!-- Get the current year to be used for the copyright date in the footer -->
    <script>
        var theDate = new Date().getFullYear();
        document.getElementById("copyright").innerHTML = theDate;
    </script>
    
    <!-- Chain Fade Effect -->
    {% block chain_fade %}
    {% endblock %}
    <!-- /Chain Fade Effect -->
    <!-- /Scripts -->
</body>
</html>