<!DOCTYPE html>
<!-- Load static files for Django -->
{% load static %}
<html lang="en">
<head>
    <!-- Meta Tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--/Meta Tags -->
    
    <title>{% block title %}{% endblock %}</title>
    
    <!-- Stylesheets -->
    <!-- Material Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Materialize CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Custom Stylesheet -->
    <link rel="stylesheet" type="text/css" media="screen,projection" href="{% static 'css/style.css' %}">
    <!-- /Stylesheets -->
</head>
<body>
    <ul id="user-dropdown" class="dropdown-content">
        <li><a href="{% url 'profile' %}">Your Profile</a></li>
        <li><a href="{% url 'logout' %}">Logout</a></li>
    </ul>

    <nav class="theme-dark" role="navigation">
        <div class="nav-wrapper">
            <div id="logo-container">
                <a href="{% url 'index' %}" class="brand-logo arimo-font theme-font-white">LEVELUP</a>
                
                <a href="{% url 'index' %}" class="brand-logo">
                    <img src="{% static 'images/levelup-logo.svg' %}" alt="Level Up logo" class="brand-logo">             
                </a>
                
            </div>
            
            <ul class="right hide-on-med-and-down">
                    <li><a href="">Help</a></li>
                    <li><a href="{% url 'donate' %}">Donate</a></li>
                    {% if user.is_authenticated %}
                        <li><a href="{% url 'tasks:get_tasks' %}">Tasks</a></li>
                        <li><a class="dropdown-trigger" href="#" data-target="user-dropdown">{{ request.user.username }}<i class="material-icons right">arrow_drop_down</i></a></li>
                    {% else %}
                        <li><a href="{% url 'login' %}">Login</a></li>
                        <li><a href="{% url 'sign_up' %}">Create Account</a></li>
                    {% endif %}
            </ul>
    
            <ul id="nav-mobile" class="sidenav">
                <li><a href="#">Navbar Link</a></li>
            </ul>
            <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        </div>
    </nav>
    
    <!-- Django Messages -->
    {% if messages %}
        <ul class="django-messages flow-text center-align">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <!-- /Django Messages -->
    
    {% block content %}
    {% endblock %}
    
    <!-- Page Footer -->
    <footer class="page-footer theme-dark center-align">
        <!-- This div does not strictly just contain copyright info
            However, the styles applied by this Materialize class work almost perfectly for how I want the footer to look -->
        <div class="footer-copyright">
            <div class="container">
                    <ul class="row">
                        <!-- Home -->
                        <li class="col s3">
                            <a href="{% url 'index' %}">Home</a>
                        </li>
                        <!-- /Home -->
                        
                        <!-- Help -->                
                        <li class="col s3">
                            <a href="#">Help</a>    
                        </li>
                        <!-- /Help -->
                        
                        <!-- Donate -->    
                        <li class="col s3">
                            <a href="{% url 'donate' %}">Donate</a>       
                        </li>
                        <!-- /Donate -->
                        
                        <!-- Stats -->
                        <li class="col s3"><a href="{% url 'stats:get_stats' %}">Levelup Stats</a></li>
                        <!-- /Stats -->
                    </ul>
                    
                    <!-- Copyright Info -->
                    <small>&copy; Level Up <span id="copyright"></span></small>                        
                    <!-- /Copyright Info -->
            </div>
        </div>
    </footer>
    <!-- /Page Footer -->
    
    <!-- Scripts -->
    <!-- jQuery CDN -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <!-- Materialize JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <!-- Patched Materialize JS version 0.100.2 -->
    <!--<script src="{% static 'js/materialize.js' %}"></script>-->
    <!-- Materialize Initialize -->
    <script src="{% static 'js/init.js' %}"></script>
    
    <!-- Get the current year to be used for the copyright date in the footer -->
    <script>
        var theDate = new Date().getFullYear();
        document.getElementById("copyright").innerHTML = theDate;
    </script>
    
    <!-- Chain Fade Effect -->
    {% block chain_fade %}
    {% endblock %}
    <!-- /Chain Fade Effect -->
    <!-- /Scripts -->
</body>
</html>