{% extends "base.html" %}

{% block title %}
    LEVELUP | Home 
{% endblock %}

<!-- Although 'load static' is being used in the base template, it seems it must be used in other templates as well when static files are used -->
{% load static %} 

{% block content %}
    <main class="theme-dark index-main flow-text">
        <!-- Hidden h1
            This element will only be visible to screen reader users -->
        <h1 class="sr-only">Level Up - Home Page</h1>
        <!-- /Hidden h1 -->
        
        <!-- Visible h1
            This element is hidden to all users on small screen sizes, in which case
            for sighted users the nav-logo serves as the page heading and
            for screen reader users, the sr-only h1 above serves as the page heading.
            On smaller viewports having two identical 'LEVELUP' headings (one in the nav and one in <main> is redundant -->
        <h1 class="center-align arimo-font theme-font-white hide-on-small-only index-fadein-effect" aria-hidden="true">LEVELUP
            <img src="{% static 'images/levelup-logo.svg' %}" alt="Level Up logo" class="brand-logo">
        </h1>
        <!-- /Visible h1 -->
        
        <!-- Index Text Content -->
        <section class="center-align theme-font-white">
            <h2 class="index-fadein-effect">PRODUCTIVITY REINVENTED</h2>      
            
            <p class="index-fadein-effect">Gamify your life to the next level</p>              

            <a class="index-fadein-effect" href="{% url 'get_started' %}"><p>Get Started</p></a>
        </section>
        <!-- /Index Text Content -->
    </main>
{% endblock %}

<!-- Chain Fade Effect -->
{% block chain_fade %}
    <script src="{% static 'js/chain_fade.js' %}"></script>
    
    <script>
        $(document).ready(function() {
            $('.index-fadein-effect').chainFade({
                // Time in miliseconds between each animation
                interval: 1000,
                // Which direction each element should travel
                toThe: 'right',
                // Initial distance of each element
                distance: 500,
            });       
        })
    </script>
{% endblock %}
<!-- /Chain Fade Effect