{% extends "base.html" %}

<!-- Although 'load static' is being used in the base template, it seems it must be used in other templates as well when static files are used -->
{% load static %} 

{% block content %}
    <main class="theme-dark index-main flow-text">
        <h1 class="sr-only">Level Up - Home Page</h1>
        
        <h1 class="center-align arimo-font theme-font-white hide-on-small-only" aria-hidden="true">LEVELUP
            <img src="{% static 'images/levelup-logo.svg' %}" alt="Level Up logo" class="brand-logo">
        </h1>
        
        <div class="center-align theme-font-white">
            <h2 class="">PRODUCTIVITY REINVENTED</h2>
            
            <p>Gamify your life to the next level</p>  
            
            <a href="#"><p>Get Started</p></a>
        </div>
    </main>
{% endblock %}